.add-metric {
    border: 2px solid darkgray;
    border-radius: 10px;
    padding: 5px;
    margin-top: 50px;
    background-color: gray;
    color: black;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
  
.add-metric-title {
    color: white;
    font-size: 26px;
}

.add-metric-metric label, .add-metric-who label, .add-metric-type label, .add-metric-format label, .add-metric-decimals label{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
}

.add-metric-metric textarea, .add-metric-who select, .add-metric-type select, .add-metric-format select, .add-metric-decimals input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-align-last: center;
    border-radius: 5px;
    font-size: 16px;
}

.add-metric select:hover, .add-metric input:hover {
    cursor: pointer;
}

.add-metric-metric textarea {
    width: 95%;
}

.add-metric-metric, .add-metric-who, .add-metric-type, .add-metric-format, .add-metric-decimals {
    background-color: rgb(255, 124, 128);
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
}

.add-metric-buttons button {
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    border: 2px solid rgb(142, 169, 219);
    border-radius: 5px;
    transition-duration: 0.4s;
}
  
.add-metric-buttons button:hover:not([disabled]) {
    background-color: rgb(142, 169, 219);
    border-color: rgb(61, 108, 193);
    color: white;
    cursor: pointer;
}