.scorecard-headings {
  display: inline-flex;
  font-weight: bold;
}

.metric-info-headings {
  display: flex;
  align-items: center;
  position: sticky;
  left: 0;
  background-color: gray;
}

.metric-info-headings-wrapper {
  display: flex;
  align-items: center;
  background-color: rgb(255, 124, 128);
  border-top: 1px black solid;
  border-left: 1px black solid;
}

.metric-who-heading, .metric-name-heading, .metric-results-date {
  border: 1px black solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.metric-buttons-heading {
  width: 70px;
}

.metric-who-heading {
  width: 100px;
}

.metric-name-heading {
  width: 150px;
}

.metric-results-headings {
  display: flex;
  background-color: rgb(255, 124, 128);
  border-top: 1px black solid;
  border-right: 1px black solid;
}

.metric-results-date {
  width: 100px;
}